# Files to be ignored

# Ignore text files
*.txt

# Ignore backup files
*.py~

# Ignore python binaries
__pycache__

# ignore zipfiles
*.zip

# Ignore model results
model_answer_code_day3.py
ass3utils.py
ass5utils.py

# Don't export "pickeled" trained model
*.pkl